{
  "env": {
    "build": {},
    "test": {
      "presets": [
        "@babel/preset-env"
      ],
      "only": [
        "./src/",
        "./test"
      ],
      "exclude": [
        "node_modules/**"
      ],
      "plugins": [
        [
          "@wordpress/babel-plugin-import-jsx-pragma",
          {
            "source": "../../src/kameleon-jsx",
            "scopeVariable": "createJSX",
            "scopeVariableFrag": "Fragment"
          }
        ],
        [
          "@babel/plugin-transform-react-jsx",
          {
            "pragma": "createJSX",
            "pragmaFrag": "Fragment",
            "throwIfNamespace": false
          }
        ],
        [
          "babel-plugin-transform-remove-imports",
          {
            "test": "\\.css$"
          }
        ]
      ]
    }
  }
}
