{
  "env": {
    "build": {
      "presets": [
        ["@babel/preset-env", {"modules": false}]
      ],
      "only": ["./src/", "./test"],
      "plugins": [
        ["@babel/plugin-transform-react-jsx", {"pragma": "createJSX"}]
      ]
    },
    "test": {
      "presets": ["@babel/preset-env"],
      "only": ["./src/", "./test"],
      "plugins": [
        ["@babel/plugin-transform-react-jsx", {"pragma": "createJSX"}]
      ]
    }
  }
}
