
:root {
  --font-fancy: "Spectral", serif;
  --font-default: "Roboto", arial, sans-serif;
  --font-size-default: 100%;

  --color-background: #fff;
  --text-color: #666;
  --text-heading-color: #822000;

  --border-color-dark: #6c6060;
  --border-color: #908282;
  --border-color-light: #c8b9b9;
  --border-radius: 4px;

  --menu-background: #ffefd5;
  --menu-background-active: #ffe6bd;
  --menu-text-active: #85a70a;
  --menu-text-subtle: #908282;
  --menu-text-darker: #6c6060;
  --menu-outline-subtle: #908282;
  --menu-outline-darker: #6c6060;

  --transition-speed: 0.6s;
}
