
.character-sheet {
  display: flex;
  flex-direction: column;
  border-color: var(--border-color);
  font-size: 1rem;

  .tools {
    margin-right: 1em;
  }

  .icon {
    width: 2em;
    height: 2em;
  }

  .edit-button::before {
    content: "\e000";
  }

  &.editmode {
    .edit-button::before {
      content: "\e001";
    }
  }

  &.viewmode {
    .drag-handle {
      display: none;
    }
  }
}
