.character-sheet {
  .ability-score-block.dragging .ability-score-base {
    pointer-events: none;
  }

  .ability-score-block {
    position: relative;
  }

  .ability-score {
    position: relative;

    .drag-source {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .value-container {
      width: 100%;
    }

    .value {
      font-size: 0.8em;
      border: 1px solid;
      border-radius: 50%;
      display: inline-block;
      min-width: 2.4em;
      height: 1.6em;
      max-height: 2.4em;
      margin-top: -1px;
      cursor: default;
      padding: 0 0.25em;
    }

    .spinner {
      position: absolute;
      right: 0;
      top: 0.8em;

      .icon {
        margin-bottom: -0.5em;
      }
    }

    .spinner + .ability-score-bonus {
      margin-left: -0.5em;
    }

    .ability-score-base {
      position: relative;
      top: 0;
      width: 100%;
      transition: top 1s ease-in-out;
    }

    .drag-image {
      .value-container {
        color: var(--text-color-dark);
        background: transparent;
        font-size: 2em;
      }

      .value {
        margin-top: 0;
      }
    }

    .drag-handle::before {
      top: 1px;
      right: 4px;
    }
  }

  .ability-score-info-popup {
    text-align: left;
    white-space: nowrap;

    &.popup-tip {
      font-size: 0.8em;
    }
  }

  .ability-score-method-selector {
    position: absolute;
    bottom: 100%;
    width: 100vw;
    height: 0;

    & > div {
      position: absolute;
      bottom: 0;
      width: fit-content;
    }

    .select {
      font-size: 0.8em;
      border: none;

      button {
        width: 100%;
      }

      ul {
        left: -1px;
        min-width: calc(100% + 2px);
      }
    }
  }
}
