.character-sheet {
  .character-stat-block {
    .character-stat {
      position: relative;

      .value-container {
        width: 100%;
        justify-content: center;
      }

      .value {
        font-size: 0.8em;
        border: 1px solid;
        border-radius: 50%;
        display: inline-block;
        width: 2.4em;
        height: 1.6em;
        max-height: 2.4em;
        margin-top: -1px;
        cursor: default;
        position: relative;

        .value-in-motion {
          position: absolute;
          top: 0;
          width: 100%;
          transition: top 1s ease-in-out;
        }
      }

      .drag-source {
        width: 100%;
      }

      .drag-image {
        .value-container {
          color: var(--text-color-dark);
          background: transparent;
          font-size: 2em;
        }

        .value {
          margin-top: 0;
        }
      }

      label {
        width: 100%;
      }

      .grab-handle::before {
        top: 1px;
        right: 4px;
      }
    }
  }

  .stat-info {
    text-align: left;
    white-space: nowrap;

    &.popup-tip {
      font-size: 0.8em;
    }
  }
}

.drop-target.drag-origin .draggable * {
  pointer-events: none;
}
