
@import url('https://fonts.googleapis.com/css?family=Spectral');
@import "css/variables.css";
@import "css/reset.css";
@import "css/common.css";
@import "widgets/index.css";
@import "controller/pages/worldmap-controller.css";
@import "controller/pages/encounters-controller.css";
@import "controller/pages/cards-controller.css";
@import "view/view.css";

.header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 110vw;
  height: 0;
  overflow: visible;
  z-index: 1;

  .navlist {
    flex: 1;
  }
}
