.zoom {
  position: fixed;
  bottom: 125px;
  right: 200px;
  height: 1px;
  width: 1px;
  background: transparent;

  > svg {
    overflow: visible;
  }

  circle, path {
    stroke-width: 4;
    stroke: var(--menu-text-darker);
  }

  .ring {
    stroke-width: 4;
    stroke-dasharray: 2 0.7;
    stroke: var(--menu-text-darker);
    stroke-linejoin: miter;
    stroke-miterlimit: 8;
  }

  .arrow {
    stroke-width: 0.75;
    fill: var(--menu-background);
    stroke: var(--menu-outline-darker);
    stroke-linejoin: miter;
    stroke-miterlimit: 8;
    transition: all var(--transition-normal);

    &:hover {
      fill: var(--menu-background-active);
    }
  }

  text {
    font-family: var(--font-fancy);
    fill: var(--menu-outline-darker);
    font-size: 70%;
    font-weight: bolder;
    text-anchor: middle;
    dominant-baseline: central;
    pointer-events: none;
  }
}
